*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
jersey-jetty/target
jersey-jetty/res/videos
jersey-jetty/res/thumbnails
jersey-jetty/temp
jersey-jetty/*.mp4
